<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout}">
    
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">

            <!-- Page Content-->
            <section layout:fragment="body" class="py-5">
                <div class="container px-5">
                
                    <!-- Monument form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Informations liées au monument :</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                
                                <form role="form" method="post" th:action="@{/form/save}" th:object="${monument}" id="monumentForm">
                                
                                    <!-- nom -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="nom" 
                                        	th:field="*{nom}" 
                                        	placeholder="Entrez le nom"/>
                                        <label for="nom">Nom du monument</label>
                                    </div>
                                    
                                    <!-- typeM -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="typeM" 
                                        	th:field="*{typeM}" 
                                        	placeholder="Entrez le type de monument"/>
                                        <label for="typeM">Type de monument</label>
                                    </div>
                                    
                                    <!-- proprietaire -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="proprietaire" 
                                        	th:field="*{proprietaire}" 
                                        	placeholder="Entrez le proprietaire"/>
                                        <label for="proprietaire">Propriétaire du monument</label>
                                    </div>
                                    
                                    <!-- longitude -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="longitude" 
                                        	th:field="*{longitude}" 
                                        	placeholder="Entrez la longitude"/>
                                        <label for="longitude">Longitude</label>
                                    </div>
                                    
                                    <!-- latitude -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="latitude" 
                                        	th:field="*{latitude}" 
                                        	placeholder="Entrez la latitude"/>
                                        <label for="latitude">Latitude</label>
                                    </div>
                                    
                                    <!-- Submit success message-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Monument crée avec succès!</div>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur rencontré lors de la création du monument!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Suivant</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Lieu form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Lieu où se situe le monument :</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                
                                <form role="form" method="post" th:action="@{/form/save}" th:object="${lieu}" id="lieuForm">
                                
                                    <!-- nomCom -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="nomCom" 
                                        	th:field="*{nomCom}" 
                                        	placeholder="Entrez le nom de la commune"/>
                                        <label for="nomCom">Nom de la commune</label>
                                    </div>
                                    
                                    <!-- codeInsee -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="codeInsee" 
                                        	th:field="*{codeInsee}" 
                                        	placeholder="Entrez le code Insee de la commune"/>
                                        <label for="codeInsee">Code INSEE</label>
                                    </div>
                                    
                                    <!-- longitude -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="longitude" 
                                        	th:field="*{longitude}" 
                                        	placeholder="Entrez la longitude"/>
                                        <label for="longitude">Longitude</label>
                                    </div>
                                    
                                    <!-- latitude -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="latitude" 
                                        	th:field="*{latitude}" 
                                        	placeholder="Entrez la latitude"/>
                                        <label for="latitude">Latitude</label>
                                    </div>
                                    
                                    <!-- Submit success message-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Lieu crée avec succès!</div>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur rencontrée lors de l'enrégistrement des informations!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Suivant</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Departement form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Département où se situe le monument :</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                
                                <form role="form" method="post" th:action="@{/form/save}" th:object="${departement}" id="departementForm">
                                
                                    <!-- nomDep -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="nomDep" 
                                        	th:field="*{nomDep}" 
                                        	placeholder="Entrez le nom du département"/>
                                        <label for="nomDep">Nom du département</label>
                                    </div>
                                    
                                    <!-- dep -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="dep" 
                                        	th:field="*{dep}" 
                                        	placeholder="Entrez le numéro de département"/>
                                        <label for="dep">Numéro de département</label>
                                    </div>
                                    
                                    <!-- reg -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="reg" 
                                        	th:field="*{reg}" 
                                        	placeholder="Entrez la région"/>
                                        <label for="reg">Région</label>
                                    </div>
                                    
                                    <!-- chefLieu -->
									<div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="chefLieu" 
                                        	th:field="*{chefLieu}" 
                                        	placeholder="Entrez le chef-Lieu"/>
                                        <label for="chefLieu">Chef-lieu</label>
                                    </div>
                                    
                                    <!-- Submit success message-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Département crée avec succès!</div>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur rencontrée lors de l'enrégistrement des informations!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Suivant</button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Celebrite form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Célébrité(s) liée(s) au monument:</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                
                                <form role="form" method="post" th:action="@{/form/save}" th:object="${celebrite}" id="celebriteForm">
                                
                                    <!-- nom -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="nom" 
                                        	th:field="*{nom}" 
                                        	placeholder="Entrez le nom"/>
                                        <label for="nom">Nom</label>
                                    </div>
                                    
                                    <!-- prenom -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text"
                                        	name="prenom" 
                                        	th:field="*{prenom}" 
                                        	placeholder="Entrez le prénom"/>
                                        <label for="prenom">Prénom</label>
                                    </div>
                                    
                                    <!-- nationnalite -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="nationalite" 
                                        	th:field="*{nationalite}" 
                                        	placeholder="Entrez la nationnalité"/>
                                        <label for="nationalite">Nationnalité</label>
                                    </div>
                                    <!-- epoque -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="epoque" 
                                        	th:field="*{epoque}" 
                                        	placeholder="Entrez l'époque"/>
                                        <label for="epoque">Epoque</label>
                                    </div>
                                    
                                    <!-- Submit success message-->
                                    <div class="d-none" id="submitSuccessMessage">
                                        <div class="text-center mb-3">
                                            <div class="fw-bolder">Célébrité créée avec succès!</div>
                                        </div>
                                    </div>
                                    <!-- Submit error message-->
                                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erreur rencontrée lors de l'enrégistrement des informations!</div></div>
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enrégistrer les informations</button></div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </section>
        </main>   
    </body>
</html>