<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout}">
    
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">

            <!-- Page Content-->
            <section layout:fragment="body" class="py-5">
                <div class="container px-5">
                    <!-- Departement form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Département où se situe le monument :</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                
                                <form role="form" method="post" th:action="@{/departement/save}" th:object="${departement}" id="departementForm">
                                

                                	<!-- nomDep -->



                                    <!-- nomDep -->

                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="nomDep" 
                                        	th:field="*{nomDep}" 
                                        	placeholder="Entrez le nom du département"/>
                                        <label for="nomDep">Nom du département</label>
                                    </div>
                                    
                                    <!-- dep -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="dep" 
                                        	th:field="*{dep}" 
                                        	placeholder="Entrez le numéro de département"/>
                                        <label for="dep">Numéro de département</label>
                                    </div>
                                    
                                    <!-- reg -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="reg" 
                                        	th:field="*{reg}" 
                                        	placeholder="Entrez la région"/>
                                        <label for="reg">Région</label>
                                    </div>
                                    
                                    <!-- chefLieu -->
									<div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="chefLieu" 
                                        	th:field="*{chefLieu.codeInsee}" 
                                        	placeholder="Entrez le chef-Lieu"/>
                                        <label for="chefLieu">Chef-lieu</label>
                                    </div> 
                                 
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Suivant</button></div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </main>   
    </body>
</html>