<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout}">
    
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">

            <!-- Page Content-->
            <div layout:fragment="body" class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Liste des lieux</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">

                        <!-- Section Lieu -->
                        <section>
                        	<div class="d-flex align-items-center justify-content-between mb-4">
                        		<h2></h2>
                                <a class="btn btn-primary px-4 py-3" th:href="@{/lieu/new}">
                                    Ajouter un lieu
                                </a>
                            </div>

                            <div class="bg-danger p-2 rounded-4 text-white text-center" th:if="${message}">
                                <h5 class="m-0" th:text="${message}"></h5>
                            </div>

                            <div class="pb-5"></div>
                            <div th:each="lieu : ${lieux}" class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div th:text="${lieu.nomCom}" class="text-primary fw-bolder mb-2">Nom du lieu</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <ul>
                                                    <li th:text="${lieu.longitude}">Longitude</li>
                                                    <li th:text="${lieu.latitude}">Lattitude</li>

                                                </ul>
                                            </div>
                                            <div style="float: right; display: flex; gap: 30px;" >
                                            	<a class="btn btn-primary px-4" th:href="@{/lieu/{codeInsee}/edit(codeInsee=${lieu.codeInsee})}">Modifier</a>
                                            	<a class="btn btn-primary px-4" th:href="@{/lieu/{codeInsee}/delete(codeInsee=${lieu.codeInsee})}">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </section>

                    </div>
                </div>
            </div>
        </main>
    </body>
</html>