<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{Layout}">
    
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">

            <!-- Page Content-->
            <div layout:fragment="body" class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Célébrités associées au monument : </span> <span class="text-gradient d-inline" th:text="${monument.nom}"></span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">

                        <!-- Section Monument details -->
                        <section>
                        	<div class="d-flex align-items-center justify-content-between mb-4">
                                <a class="btn btn-primary px-4 py-3" th:href="@{/celebrite/new}" sec:authorize="hasRole('ROLE_Voyagiste') or hasRole('ROLE_Admin')">
                                    Ajouter une célébrité
                                </a>
                            </div>
                            <div th:each="celebrite : ${celebrites}" class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div th:text="${celebrite.epoque}" class="text-primary fw-bolder mb-2">Epoque de la célébrité</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <ul>
                                                    <li>Nom : <span  th:text="${celebrite.nom}"></span></li>
                                                    <li>Prénom : <span  th:text="${celebrite.prenom}"></span></li>
                                                    <li>Nationnalité : <span th:text="${celebrite.nationalite}"></span></li>
                                                </ul>
                                            </div>
                                            <div style="float: right; display: flex; gap: 30px;" >
                                            	<a class="btn btn-primary px-4" th:href="@{/celebrite/{numC}/details(numC=${celebrite.numCelebrite})}">Voir les monuments</a>
                                            	<a class="btn btn-primary px-4" th:href="@{/celebrite/{numC}/edit(numC=${celebrite.numCelebrite})}" sec:authorize="hasRole('ROLE_Voyagiste') or hasRole('ROLE_Admin')">Modifier</a>
                                            	<a class="btn btn-primary px-4" th:href="@{/celebrite/{numC}/delete(numC=${celebrite.numCelebrite})}" sec:authorize="hasRole('ROLE_Admin')">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </section>

                    </div>
                </div>
            </div>
        </main>
    </body>
</html>