<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout}">
    
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">

            <!-- Page Content-->
            <section layout:fragment="body" class="py-5">
                <div class="container px-5">
                    <!-- Register form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Créer un compte</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                        	<div th:if="${param.fail}" class="alert alert-success">
                                	Le nom d'utilisateur ou l'email existe déjà !
                            </div>
                            <div class="col-lg-8 col-xl-6">
			                    <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
			                        <div class="form-group">
			                            <label>Nom d'utilisateur</label>
			                            <input
			                                    type="text"
			                                    class="form-control"
			                                    placeholder="Username"
			                                    th:field="*{username}">
			                        </div>
			                        <p th:if="${#fields.hasErrors('username')}" class="text-danger"></p>
			                        <div class="form-group" style="margin-top: 20px;">
			                            <label>Email</label>
			                            <input
			                                    type="text"
			                                    class="form-control"
			                                    placeholder="Email"
			                                    th:field="*{email}">
			                        </div>
			                        <p th:if="${#fields.hasErrors('email')}" class="text-danger"></p>
			                        <div class="form-group" style="margin-top: 20px;">
			                            <label>Mot de passe</label>
			                            <input
			                                    type="password"
			                                    class="form-control"
			                                    placeholder="Password"
			                                    th:field="*{password}">
			                        </div>
			                        <p th:if="${#fields.hasErrors('password')}" class="text-danger"></p>
			                        <div class="form-group" style="margin-top: 20px;">
			                            <label>Choisir un rôle</label>
			                            <select class="form-control" th:name="role">
			                            	<option th:value="Voyagiste">Admin</option>
			                            	<option th:value="Voyagiste">Voyagiste</option>
			                            	<option th:value="Touriste">Touriste</option>
			                            </select>
			                        </div>
			                        <div style="margin-top: 20px; text-align: center;">
			                        	<a th:href="@{/login}" type="submit" class="btn btn-black">Se connecter</a>
			                        	<button th:href="@{/register}" type="submit" class="btn btn-secondary">Créer un compte</button>
			                        </div>
			                    </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>   
    </body>
</html>