<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{Layout}">
    
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">

            <!-- Page Content-->
            <section layout:fragment="body" class="py-5">
                <div class="container px-5">
                    <!-- Monument form-->
                    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Rechercher un monument :</h1>
                        </div>
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8 col-xl-6">
                                
                                <form role="form" th:object="${monument}" id="monumentForm">
                                
                                    <!-- lieu -->
                                    <div class="form-floating mb-3">
                                        <input 
                                        	class="form-control" 
                                        	type="text" 
                                        	name="lieu" 
                                        	placeholder="Entrez un nom"/>
                                        <label for="lieu">Saisir le nom d'une commune</label>
                                    </div>
                                    
                                    <!-- Submit Button-->
                                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">Rechercher</button></div>
                                    
                                </form>
                                
                                <!-- Divider-->
                        		<div class="pb-5"></div>
                                
                                <div th:each="monument : ${monuments}" class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                
                                                <div th:text="${monument.nom}" class="text-primary fw-bolder mb-2">Nom du monument</div>
                                                <div th:text="${monument.codeLieu.nomCom}" class="small fw-bolder">Localisation du monument</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div>
                                                <ul>
                                                    <li th:text="${monument.typeM}">Type de monument</li>
                                                    <li th:text="${monument.proprietaire}">Proprietaire</li>
                                                    <li th:text="${monument.longitude}">Longitude</li>
                                                    <li th:text="${monument.latitude}">Latitude</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>   
    </body>
</html>